<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web-BE-P2 WAS</title>
    <link rel="stylesheet" href="index.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="login.js" defer></script>
  </head>
  <body class="m-0 mx-[200px]">
    <header class="flex items-center justify-between h-16 pb-10 pt-5 px-5">
      <h1 class="text-lg font-medium" onclick="location.href='/index.html'">
        HELLO, WEB!
      </h1>
      <button
        class="bg-[#4362d0] text-white rounded-lg px-4 py-2 border-none focus:outline-none gap-2.5"
      >
        로그인/회원가입
      </button>
    </header>
    <main class="flex flex-col items-center gap-10">
      <div class="flex items-center h-36">
        <h1 class="text-3xl font-medium">로그인</h1>
      </div>
      <form
        class="flex flex-col items-center gap-4"
        action="/login"
        method="post"
      >
        <div
          class="box-border flex flex-col gap-2 border border-[#d2dae0] p-4 rounded-lg w-80"
        >
          <label for="email" class="text-sm font-medium text-[#4b5966]">
            이메일
          </label>
          <input
            type="text"
            id="email"
            name="email"
            class="border-none focus:outline-none"
            placeholder="이메일을 입력해주세요."
          />
        </div>
        <div
          class="box-border flex flex-col gap-2 border border-[#d2dae0] p-4 rounded-lg w-80"
        >
          <label for="email" class="text-sm font-medium text-[#4b5966]">
            비밀번호
          </label>
          <input
            type="password"
            id="password"
            name="password"
            class="border-none focus:outline-none"
            placeholder="비밀번호를 입력해주세요."
          />
        </div>
        <button
          id="loginButton"
          class="bg-[#4362d0] text-white rounded-lg px-2.5 py-1.5 border-none w-80 h-10 mt-6 focus:outline-none transition-colors duration-300 disabled:cursor-not-allowed enabled:hover:bg-[#14212B]"
          type="submit"
        >
          로그인
        </button>
        <button
          onclick="location.href='/auth/github'"
          type="button"
          class="py-2 px-4 max-w-md flex justify-center items-center bg-gray-600 hover:bg-gray-700 focus:ring-gray-500 focus:ring-offset-gray-200 text-white w-full transition ease-in duration-200 text-center shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="mr-2"
            viewBox="0 0 1792 1792"
          >
            <path
              d="M896 128q209 0 385.5 103t279.5 279.5 103 385.5q0 251-146.5 451.5t-378.5 277.5q-27 5-40-7t-13-30q0-3 .5-76.5t.5-134.5q0-97-52-142 57-6 102.5-18t94-39 81-66.5 53-105 20.5-150.5q0-119-79-206 37-91-8-204-28-9-81 11t-92 44l-38 24q-93-26-192-26t-192 26q-16-11-42.5-27t-83.5-38.5-85-13.5q-45 113-8 204-79 87-79 206 0 85 20.5 150t52.5 105 80.5 67 94 39 102.5 18q-39 36-49 103-21 10-45 15t-57 5-65.5-21.5-55.5-62.5q-19-32-48.5-52t-49.5-24l-20-3q-21 0-29 4.5t-5 11.5 9 14 13 12l7 5q22 10 43.5 38t31.5 51l10 23q13 38 44 61.5t67 30 69.5 7 55.5-3.5l23-4q0 38 .5 88.5t.5 54.5q0 18-13 30t-40 7q-232-77-378.5-277.5t-146.5-451.5q0-209 103-385.5t279.5-279.5 385.5-103zm-477 1103q3-7-7-12-10-3-13 2-3 7 7 12 9 6 13-2zm31 34q7-5-2-16-10-9-16-3-7 5 2 16 10 10 16 3zm30 45q9-7 0-19-8-13-17-6-9 5 0 18t17 7zm42 42q8-8-4-19-12-12-20-3-9 8 4 19 12 12 20 3zm57 25q3-11-13-16-15-4-19 7t13 15q15 6 19-6zm63 5q0-13-17-11-16 0-16 11 0 13 17 11 16 0 16-11zm58-10q-2-11-18-9-16 3-14 15t18 8 14-14z"
            ></path>
          </svg>
          GitHub로 로그인하기
        </button>
      </form>
      <div>
        아직 회원가입을 안하셨나요?
        <span class="text-[#4362d0]">
          <a href="/form.html">회원가입하기</a>
        </span>
      </div>
    </main>
  </body>
</html>
